.container_card {
  background-color: var(--card-bg-color);
  width: 15rem;
  height: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: .5em;
  box-shadow: 0 0 1em var(--main-color);
  cursor: pointer;
  transition: all .5s;

}

.container_card:hover {
  box-shadow: 0 0 1em .4em var(--main-color);
}

.container_card p {
  font-size: 5em;
  margin-top: .2em;
  text-align: center;
}

.container_card h2 {
  width: 15rem;
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
  font-weight: 300;
  text-align: center;
}

.orange {
  color:#db6821;
}
.blue {
  color: #2689db;
}
.yellow {
  color: yellow;
}
.bluedark {
  color: #1661db;
}

.purple {
  color: #6411ca;
}
.green {
  color: rgb(55, 146, 55);
}
.ex {
  color: #3d3822;
}
.greensheat {
  color: rgb(9, 132, 9);
}
